<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Waitresses who wear read get more tips</string>
	<string>Tipping was not common in the United States until after the Civil War</string>
	<string>The waitstaff provides better service in resturants where tips are eliminiated</string>
	<string>In Japan, tipping is often considered an insult</string>
	<string>Your resturant tip doesnt always go to your server</string>
</array>
</plist>
